.absolute_path_logo {
  background-image: url("/logo.png");
}

.relative_path_logo {
  background-image: url('../images/relative.png');
}

.absolute_url_logo {
  background-image: url(http://www.example.com/absolute.png);
}

.absolute_path_logo{background-image:url(/logo.png)}
.relative_path_logo{background-image:url(../images/relative.png)}
.absolute_url_logo{background-image:url(http://www.example.com/absolute.png)}
